body {
    height: 5000px;
}
/* .test::first-letter { */
.test::first-line {
    color: red;
    font-weight: bold;
    font-size: 2rem;
}
.test::selection {
    color: #a3a3a3;
    background-color: #464646;
}
ul li::marker {
    color: blue;
}
ul li {
    background-color: #080;
    list-style-position: inside;
    /* list-style-image: url("../images/house-solid-full.svg"); */
    list-style-type: armenian;
    list-style: upper-roman inside;
}
.test2 {
    color: #00f;
}
/* .test2::after { */
/* .test2::before { */
.test2:hover::after {
    content: "N";
    /* color: aqua; */
    font-weight: bold;
    font-size: 3rem;
}

div[kimit="academy"] {
    color: chartreuse;
}

.displayExplain {
    height: 200px;
    width: 200px;
    background-color: #464646;
}
p span {
    background-color: #080;
    color: #fff;
    height: 100px;
    width: 100px;
    margin: 50px;
    display: inline-block;
}

div {
    height: 100px;
    width: 100px;
    background-color: aqua;
}
p:hover + div {
    display: none;
}
section div {
    display: inline-block;
}
table,
th,
td {
    border: 1px solid rgb(30, 30, 30);
}

table {
    border-collapse: collapse;
    caption-side: top;
}
