body {
    height: 5000px;
}

.spacing {
    line-height: 22px;
    word-spacing: 22px;
    letter-spacing: 5px;
    text-indent: 20px;
}
.test {
    height: 50px;
    width: 50px;
    background-color: #bababa;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.transform_example {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin: auto;
    transition: 0.5s;
    transform-origin: 100% 100%;
}
.transform_example:hover {
    /* transform: translate(100px, 100px); */
    /* transform: scale(1.5); */
    transform: rotate(45deg);
    /* transform: skew(-45deg); */
}
.card {
    height: 220px;
    width: 150px;
    position: relative;
    transition: 0.5s;
    backface-visibility: hidden;
}
.card:hover {
    transform: rotateY(180deg);
}
.back,
.front {
    position: absolute;
    inset: 0;
    /* top: 0;
    left: 0;
    height: 100%;
    width: 100%; */
}
.back {
    background-color: #00f;
    transform: rotateY(180deg);
}
.front {
    background-color: #f00;
}
.transition_example {
    width: 100px;
    height: 100px;
    background-color: #080;
    /* transition-property: width;
    transition-duration: 5s;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); */
    transition: all 5s ease-in-out;
}

.transition_example:hover {
    width: 200px;
    height: 200px;
    background-color: #31fffc;
    padding: 20px;
}
